
<h1>Natig</h1>

<h1 >Log in:</h1>
            <form action="/api/officeWorkers/login" method="POST">
                Email
                <input type="email" name="email" placeholder="email">
                <br>
                Password
                <input type="password" name="password" placeholder="password">
                <br>
                <button type="submit">Log in</button>
            </form> 